@import url("");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  gap: 24px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
  opacity: 0.8;
}
.headerText {
  display: flex;
  gap: 24px;
  align-items: center;
}
.headerIcons {
  display: flex;
  gap: 24px;
  align-items: center;
}
.headerIcons > img {
  width: 14px;
  height: 14px;
}
.headerIcons > :last-child {
  display: none;
}
.donation {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
  vertical-align: bottom;
  margin: auto;
}
.hero1 {
  width: 100%;
  height: 692px;
  display: flex;
  justify-content: center;
  background-image: url(/images/Figure.png);
  background-position: center;
  background-size: cover;
}

.hero1text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 55px;
}
.hero3 {
  background-image: url(/images/phone-01.png);
  align-items: end;
}
.hero3text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 55px;
}
.hero3text > :first-child {
  font-size: 52px;
  font-weight: 600;
  color: black;
}
.hero3text > :nth-child(2) {
  font-size: 24px;
  color: black;
}
.hero1text > :first-child {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.hero1text > :nth-child(2) {
  font-size: 24px;
  color: white;
}
.buttons {
  display: flex;
  gap: 16px;
}
.box5T {
  text-align: center;
  width: 30%;
}
.buttons > :first-child {
  background-color: #0071e3;
  border-radius: 999px;
  border: 1px solid #0071e3;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
}
.buttons > :last-child {
  background-color: transparent;
  border-radius: 999px;
  color: #0071e3;
  border: 1px solid #0071e3;
  font-size: 18px;
  padding: 12px 20px;
}
.card5button {
  background-color: #0071e3;
  border-radius: 999px;
  border: 1px solid #0071e3;
  font-size: 18px;
  color: white;
}
.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section2 {
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  height: 588px;
  width: 49%;
  position: relative;
}
.box > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}

.box1Text {
  flex-direction: column;
  gap: 324px;
  align-items: center;
  position: relative;
  top: 60px;
  justify-content: center;
}
.box2Text {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 400px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.box2Text > :first-child {
  font-size: 36px;
  font-family: "Inter", serif;
  font-style: bold;
}
.box2Text > :nth-child() {
  font-size: 18px;
  font-family: "Inter", serif;
  height: 25px;
}
.box3Text {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
}
.box3T {
  font-size: 32px;
}

.slider {
  width: 100%;
  gap: 16px;
  overflow-x: scroll;
  padding-top: 10px;
}
.sliderItem {
  width: 1250px;
  height: 668px;
  background-image: url(./images/napoleon.jpg);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
}

.slider-item-info {
  position: absolute;
  left: 47px;
  bottom: 38px;
}
.info-button {
  border: none;
  font-size: 17px;
  border-radius: 999px;
  background-color: #f5f5f7;
  justify-content: flex-end;
  width: 136px;
  height: 42px;
}
.hero2 {
  background-image: url(/images/Background.png);
}
.description {
  color: white;
  font-size: 20px;
}

.descript {
  color: white;
  font-size: 20px;
}
.bullets {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1 px solid red;
  margin-top: 14px;
  font-weight: 600;
}
.bullet {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 0.42);
  margin-inline: 7px;
  border-radius: 50%;
  column-gap: 14px;
}
.footerSection {
  width: 100%;
  overflow: hidden;
  height: 236px;
  position: relative;
  --quantity: 10;
}
.footer-animation {
  display: flex;
  width: calc(417px * 10);
  animation: scroll 15s linear infinite;
  gap: 12px;
}
.card1 {
  flex-shrink: 0;
  width: 417px;
  height: 236px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  position: relative;
}
.cardButton {
  position: absolute;
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardButton > button {
  display: none;
  border-radius: 20px;
  padding: 12px;
  background-color: #f5f5f7;
}

.card1:hover .cardButton > button {
  display: block;
}

.card2 {
  flex-shrink: 0;
  width: 417px;
  height: 236px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}
.rock {
  width: 200px;
  height: 206px;
  margin-top: 20px;
}
.indie {
  width: 200px;
  height: 180px;
  margin-top: 20px;
}
.strent {
  width: 200px;
  height: 180px;
  margin-top: 20px;
}
.cardText {
  justify-content: end;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 190px;
  width: 203px;
  margin-left: 15px;
}
.cardText1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 100px;
  margin-left: 90px;
  font-weight: bold;
}
.cardText2 {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}
.card3 {
  flex-shrink: 0;
  width: 417px;
  height: 236px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  background-color: rgb(64, 13, 14);
}
.card4 {
  flex-shrink: 0;
  width: 417px;
  height: 236px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  background-color: rgb(38, 38, 38);
}
.footer-animation:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0px 15px;
  }
  .headerText {
    display: none;
  }
  .headerIcons > :last child {
    display: block;
  }
  .sliderItem {
    height: 368px;
  }
}

@media (max-width: 390px) {
  .box {
    width: 100%;
  }
  .sliderItem {
    height: 495px;
  }

  .hero11 {
    background-image: url(./images/phone-03.png);
    background-position: center;
    background-size: cover;
    align-items: end;
    height: 500px;
  }
  .hero3 {
    background-image: url(/images/phone-03@2x.png);
  }
  .hero1text {
    margin-bottom: 36px;
  }

  .hero2 {
    background-image: url(./images/phone-02.png);
    height: 500px;
  }
  .sliderItem {
    width: 274px;
    height: 495px;
  }
}
